*{
  margin: 0;
  padding: 0;
}

/* Styling for the App component nav element
and Course component course-nav div */
.App nav, .courses-nav, .contact-nav{
  background: #47beba;
  height: 8vh;
  min-width: 600px;
  text-align: center;
  padding-top: 10px;
  border-radius: ;
  border-bottom: 2px solid black;
  }
  
  /* Styling for App component nav element anchor
  tag and Course component nav element anchor tag */
  .App nav a, .courses-nav a, .contact-nav a{
  padding: 20px 20px;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #2f8d46;
  }
  
  /* Styling for Course component
  course-nav div anchor tag */
  .courses-nav a{
  color: rgb(59, 117, 241);
  }
  
  /* Styling for the Home component main div */
  .Page{
  width: 100%;
  height: 96vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background: linear-gradient(#fbc0e0,#cee9fc);
  }
  
  /* Styling for the Search & List component main div */
  .Search, .List{
  width: 50%;
  height: 40%;
  padding: 100px;
  background-color: #55b0e4;
  }
  